
{% extends "base.html" %}		<!-- 这个模板继承了基模板，为"body"模块提供一个代替块 -->

{% block body %}

<h2>{{ the_title }}</h2>		<!-- 个大括号中的参数，在最终呈现之前要为他们赋值 -->

<form method = "POST" action = "/search">
<table>
<p>Use this form to submit a search request:</p>
<tr><td>Phrase:</td><td><input name = "phrase" type = "TEXT" width = "60"></td></tr>
<tr><td>Letters:</td><td><input name = "letters" type = "TEXT" value = "aeiou"></td></tr>
</table>
<p>When you're ready, click this button:</p>
<p><input value = "Do it!" type = "SUBMIT"></p>		<!-- 里面还有一个可选参数 name = "",当有多个submit时，-->
</form>												<!-- 可用于区分不同的按键 -->

{% endblock %}
